!!! 5
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(content='text/html;charset=UTF-8', http-equiv='content-type')
    title AIM GUI
    script(data-main='assets/js/boot.js', src='assets/js/libs/require-jquery.js')
    link(href='assets/css/screen.css', media='all', rel='stylesheet', type='text/css')
    link(href='assets/js/libs/colorpicker/css/colorpicker.css', media='all', rel='stylesheet', type='text/css')
    link(href='favicon2.ico', rel='shortcut icon', type='image/x-icon')
  body
- if (!everyauth.loggedIn)
  h2 Welcome
  #fb-login.fb_button(style='background-position: left -188px')
    a.fb_button_medium(href='/auth/facebook')
      span#fb_login_text.fb_button_text
        Connect with Facebook
  #google-login
    a(href='/auth/google', style='border: 0px')
      img(style='border: 0px', src='https://www.google.com/favicon.ico')
  #openid-login
    form#openid(action='/auth/openid')
      label(for='openid_identifier') OpenID Identifier: &nbsp;
      input(type='text', name='openid_identifier')
      input(type='submit') Login
- else
  h2 Authenticated
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)
  - if (everyauth.google)
    h3 Google User Data
    p= JSON.stringify(everyauth.google.user)
  
  h3
    a(href='/logout') Logout
